body{
color: grey;
}

#grad {
    background: linear-gradient(black, black, #bcf4f0);
}

.button {
    background-color: #bcf4f0;
    color: grey;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    cursor: pointer;
}

hr{
   border: 1px solid #ccc;
}

nav ul{
  list-style-type: none;
}

nav ul li{
  display: inline;
  padding: 0px;
}
#img{
  display: inline;
  //border: 1px solid grey;
  padding: 5px 10px;
  margin: 0px;
}

.project-image {
  margin: 0 10px;
  width: 200px;
  height: 200px;
  opacity: 0.75;
  transition: box-shadow 0.5s, opacity 0.5s;
}

.project-image:hover{
  box-shadow: -5px -5px 5px 0px #bcf4f0;
  opacity: 1.0;
}

span {
  float: right;
}

.icon {
  width: 50px;
  height: 50px;
  opacity: 0.75;
  transition: opacity 0.5s;
}

.icon-hover {
  opacity: 1.0;
}

p{
  background-color: #bcf4f0;
  margin: 0 auto;
  width: 80%;
}

iframe{

  width: 60%;
  height: 400px;

}
